In [26]:
import pandas as pd

In [27]:
municipio = pd.read_csv("C:\\municipio\\municipio.csv")

In [28]:
municipio.head()

    ano  id_municipio       sexo grupo_idade  populacao
0  2000       1100015   feminino    0-4 anos       1441
1  2000       1100015  masculino    0-4 anos       1543
2  2000       1100015   feminino  10-14 anos       1585
3  2000       1100015  masculino  10-14 anos       1610
4  2000       1100015   feminino  15-19 anos       1486

In [29]:
df = municipio.query('ano == 2020')

In [32]:
df.to_csv("C:\\municipio\\municipio_2020.csv", sep="|")